{% extends "base.html" %}

{% block content %}
<div class="post-detail-container">
    <h1>{{ post.title }}</h1>
    <p class="post-meta">Published on {{ post.created_at|date:"F d, Y" }}</p>
    <div class="post-content">
        <p>{{ post.content }}</p>
        {% if post.file %}
            <img src="{{ post.file.url }}" class="img-fluid">
        {% endif %}
    </div>
    <a href="{% url 'post_delete' post.id %}" onclick='return confirm("Do you really want to delete ?")' class="btn btn-danger mt-3">Delete Post</a>
</div>

<div class="mt-5">
    <h2>Update Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Post</button>
    </form>
</div>
{% endblock %}