
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if messages %}
                            {% for message in messages %}
                            {% if message.level == messages.ERROR %}
                            <div style=" color:red; ">{{message}}</div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
                 <div class="card-footer text-muted text-center">
                    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
